body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-width: 280px;*/
}

#search {
    width: 100%;
}
.searchdiv {
    margin: 5%;
    align-content: center;
    padding: 5px;
    width: 80%;
    height: 5%;
}

#productName {
    margin: 7%;
    margin-right: 0;
   padding: 10px;
  font-size: 30px;
  border: 10px solid rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25) inset, 0 2px 10px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25) inset, 0 2px 10px rgba(0, 0, 0, 0.25);
    -ms-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25) inset, 0 2px 10px rgba(0, 0, 0, 0.25);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25) inset, 0 2px 10px rgba(0, 0, 0, 0.25);
 -ms-border-top-left-radius: 15px;
    border-top-left-radius: 15px;
    -ms-border-bottom-left-radius: 15px;
    border-bottom-left-radius: 15px;
  background: rgba(255, 255, 255, 0.5);
  -moz-appearance: none;
  -webkit-appearance: none;
  outline: none;
  color: #333;
  width: 70%;
  /*position: absolute;
    left: 15%;
    top: 15%;*/
}

#searchbutton {
     margin: 7%;
    margin-left: 0;
    padding: 10px;
  font-size: 30px;
  border: 10px solid rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25) inset, 0 2px 10px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25) inset, 0 2px 10px rgba(0, 0, 0, 0.25);
    -ms-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25) inset, 0 2px 10px rgba(0, 0, 0, 0.25);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25) inset, 0 2px 10px rgba(0, 0, 0, 0.25);
    -ms-border-top-right-radius: 15px;
    border-top-right-radius: 15px;
    -ms-border-bottom-right-radius: 15px;
    border-bottom-right-radius: 15px;
  background: rgba(255, 255, 255, 0.5);
  -moz-appearance: none;
  -webkit-appearance: none;
  outline: none;
  color: #333;
  width: 15%;
  /*position: absolute;
  left: 55%;
    top: 15%;*/
}

DIV.jogger {
    left: 40%;
    top: 90%;
    position: absolute;
	PADDING-RIGHT: 2px;
    PADDING-LEFT: 2px;
    PADDING-BOTTOM: 2px;
    MARGIN: 7px;
    PADDING-TOP: 2px;
    FONT-FAMILY: "Lucida Sans Unicode", "Lucida Grande", LucidaGrande, "Lucida Sans", Geneva, Verdana, sans-serif;
}

DIV.jogger A {
	PADDING-RIGHT: 0.64em; PADDING-LEFT: 0.64em; PADDING-BOTTOM: 0.43em; MARGIN: 2px; COLOR: #fff; PADDING-TOP: 0.5em; BACKGROUND-COLOR: black;TEXT-DECORATION: none;font-size: 20px;
}
DIV.jogger A:hover {
	PADDING-RIGHT: 0.64em; PADDING-LEFT: 0.64em; PADDING-BOTTOM: 0.43em; MARGIN: 2px; COLOR: #fff; PADDING-TOP: 0.5em;BACKGROUND-COLOR: grey;font-size: 20px;
}
DIV.jogger A:active {
	PADDING-RIGHT: 0.64em; PADDING-LEFT: 0.64em; PADDING-BOTTOM: 0.43em; MARGIN: 2px; COLOR: #fff; PADDING-TOP: 0.5em;BACKGROUND-COLOR: #333333;
}
DIV.jogger SPAN.current {
	PADDING-RIGHT: 0.64em; PADDING-LEFT: 0.64em; PADDING-BOTTOM: 0.43em; MARGIN: 2px; COLOR: #6d643c; PADDING-TOP: 0.5em; BACKGROUND-COLOR: #f6efcc
}
DIV.jogger SPAN.disabled {
	DISPLAY: none
}


.table {
    width: 100%;
    border-style: none;
}
.table>td #image {
    width: 40%;
    height: 400px;
}
.table>td #info {
    width: 60%;
}
.table>td>h3 {
    font-style: italic;
    font-size: 30px;
}
.productdiv {
    margin: 5%;
}