@using Reverse_Shop.Models;
@model PartRegistrationModel
@{
    ViewBag.Title = "New User";

}



<h1>Registration</h1>


<form action="@Url.Action("FastRegistration","User")" method="post">
<fieldset>
    @Html.LabelFor(e => e.Email)
    @Html.TextBoxFor(e => e.Email)
    <div>
        <input type="submit" value="Registration" />
    </div>
</fieldset>
    </form>
