@using Reverse_Shop.Models
@model PasswordModel
@{
    ViewBag.Title = "Active";
}

<h1>You active account!</h1>
<h3>Please Enter your password!</h3>

<form action="@Url.Action("Save", "User")" method="POST">
    <fieldset>
        <div>
            @Html.LabelForModel()
        </div>
        <div>
            <input type="submit" value="Save"/>
        </div>
    </fieldset>
</form>