@using Reverse_Shop.Models;
@model PasswordModel
           @if (ViewBag.Check != null)
           {
               if (ViewBag.Check)
               {
                   <div>
                       <h3>Password Change!</h3> 
                   </div>
               }
               else
               {
                   <div>
                       <h3>Password doesn't Change!</h3> 
                   </div>
               }
           }
@using (Html.BeginForm("ChangePassword"))
{
    <div onclick=" document.getElementById('password').style.display = 'none'; return false;" onmouseover="    this.style.cursor = 'pointer'" onmouseout="    this.style.cursor = 'default' "><span style="left: 95%;position:absolute">X</span></div>

    <div>
        @Html.LabelFor(p => p.Password)
        @Html.TextBoxFor(p=>p.Password)
    </div>
    <div>
        @Html.LabelFor(p => p.ConfirmPassword)
        @Html.TextBoxFor(p => p.ConfirmPassword)
    </div>

    <br />
    <input type="submit" value="Change" />
}
