<script type="text/javascript">
    jQuery(document).ready(function() {
        jQuery('.tabs .tab-links a').on('click', function(e) {
            var currentAttrValue = jQuery(this).attr('href');

            // Show/Hide Tabs
            jQuery('.tabs ' + currentAttrValue).siblings().slideUp(400);
            jQuery('.tabs ' + currentAttrValue).delay(400).slideDown(400);

            // Change/remove current tab to active
            jQuery(this).parent('li').addClass('active').siblings().removeClass('active');

            e.preventDefault();
        });
    });
</script>
@{
    ViewBag.Title = ViewBag.Name;
}

<h1>
    @ViewBag.Name
</h1>

<div class="tabs">
    <ul class="tab-links">
        <li class="active"></li>
        <li><a href="#tab1">User's Info</a></li>
        <li><a href="#tab2">Buy List</a></li>
        <li><a href="#tab3">Sale List </a></li>
    </ul>

    <div class="tab-content">
        <div id="tab1" class="tab active">
        @Html.Action("UserInformation","User");
        </div>

        <div id="tab2" class="tab">
        2
        </div>

        <div id="tab3" class="tab">
        3
        </div>
    </div>
</div>