
@if (Request.Cookies["login"]!=null)
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Personal", "UserInfo", "User")
        </li>
        <li>@Html.ActionLink("Log out", "UserExit", "User")</li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Registration", "FastRegistration", "Home")</li>
        <li><a href="#" onclick=" document.getElementById('login').style.display = 'block'; return false; ">Log In</a></li>

    </ul>
}


